@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Models;


<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Checkout</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="main">
        @using (Html.BeginForm("ProcessCheckout", "Checkout", FormMethod.Post, new { id = "loginForm" }))
        {
        <div class="content">
            <div class="shipping_address">
                <h3>Billing Address</h3>
                <p>Please fill out form</p>

                    <input name="address1" type="text" value="address" class="field" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}">
                    <input name="city" type="text" value="city" class="field" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'City';}">
                    <select  name="state" class="form-control" required>
                        <option value="" selected="selected">- Select A State -</option>
                        @foreach (var states in ViewBag.StatesList)
                        {
                            <option value="@states.StateID">@states.StateName</option>
                        }
                    </select>
                    <input name="zipcode" type="text" value="zipcode" class="field" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Zip Code';}">
                
            </div>
            <div class="shipping_method">
                <h3>Shipping Method</h3>
                <p>Please select a shipping method</p>
                <br />
                    @foreach (ShippingMethod shipMethod in ViewBag.listShippingMethod)
                    {   
                        <table>
                           <p> @shipMethod.type
                            <br />
                            @Html.RadioButtonFor(m => shipMethod.shippingMethod_ID, shipMethod.type)
                            @shipMethod.shippingCost
                            </p>
                        </table>
                    <br />                                      
                    }          
                
            </div>
            <div class="payment_method">
                <h3>Payment Method</h3>
                <p>Enter card information below</p><br />
                    <p>Visa:<input name="cardType" type="radio" value="Visa" class="field">
                    Master Card:<input name="cardType" type="radio" value="MasterCard" class="field">
                    American Express:<input name="cardType" type="radio" value="AmericanExpress" class="field"><br /><br />
                    <input name="cardNumber" type="text" value="CardNumber" class="field" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}">
                    <input name="expire Number" type="text" value="expireDate" class="field" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expire Date';}"></p>
                
            </div>
            <div class="clear"></div>
            <div class="review_order">
                <h3>Review Order</h3>
                <p>Sign in with the form below.</p>
               
                @{ decimal checkoutTotal = 0; }
                <div id="Checkout">
                    @if (Session["cart"] != null)
                    {
                        <table>
                            <tr>
                                <th>Option</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>QTY</th>
                                <th>Sub Total</th>
                                <th>Total</th>
                            </tr>

                            @foreach (Item item in (List<Item>)Session["cart"])
                            {
                                <tr>
                                    <td>@Html.ActionLink("Delete", "Delete", "Checkout", new { product_id = item.Pr.product_ID, category_id = item.Pr.category_ID }, null)</td>
                                    <td>@item.Pr.name</td>
                                    <td>@item.Pr.price</td>
                                    <td>@item.Quantity</td>
                                    <td>@(item.Pr.price * item.Quantity)</td>
                                    @{checkoutTotal += (item.Pr.price * item.Quantity);}
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td id="total">Total = $@checkoutTotal</td>                            
                            </tr>
                        </table>
                    }
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="checkout">
            <h4><a href="~/Home">Checkout</a></h4>
        </div>
         }
    </div>
</div>