<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Capstone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Capstone.Models
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p><span>Need help?</span> call us <span class="number">401-555-5555</span></p>
                </div>
                <div class="account_desc">
                    <ul>
                        <li>@Html.ActionLink("Login/Register", "Index", "Registration")</li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">My Account</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="~/Register/LoginRegister"><img src="~/images/logo.png" alt="" /></a>
                </div>
                <div class="cart">
                    <p>                  
                       Welcome to our Online Store! <span>Cart:</span>
                       @if(Session["cart"]!=null)
                        {
                           <div id="dd" class="wrapper-dropdown-2">
                               <ul class="dropdown">
                                   <li class="dropdown">
                                       <table>
                                           <tr>
                                               <th>Name</th>
                                               <th>QTY</th>
                                               <th>Price</th>
                                               <th>Sub Total</th>
                                           </tr>
                                           @foreach (Item item in (List<Item>)Session["cart"])
                                           {
                                                <tr>

                                                    <td>@item.Pr.name</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.Pr.price</td>
                                                    <td>@(item.Pr.price * item.Quantity)</td>
                                                </tr>
                                           }
                                       </table>
                                    </li>
                               </ul>
                            </div>
                        }
                        else
                        {
                           <div id="dd" class="wrapper-dropdown-2">
                              0 item(s) - $0.00
                              <ul class="dropdown">
                                  <li>you have no items in your Shopping cart</li>                               
                              </ul>
                           </div>
                        }                       
                    </p>
                </div>                
                <div class="clear"></div>
            </div>
            @*Nav bar*@
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Delivery" ? "active" : "")">@Html.ActionLink("Delivery", "Delivery", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "News" ? "active" : "")">@Html.ActionLink("News", "News", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search_box">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>@*Nav bar*@
        </div>@*Header*@
        @*Rendering body here*@
        @RenderBody()
        <hr />

    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="~/Home">About Us</a></li>
                        <li><a href="~/Home/Contact">Customer Service</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="delivery.html">Orders and Returns</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Why buy from us</h4>
                    <ul>
                        <li><a href="~/Home">About Us</a></li>
                        <li><a href="~/Home/Contact">Customer Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="contact.html">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>My account</h4>
                    <ul>
                        <li><a href="~/Home/Loginw">Sign In</a></li>
                        <li><a href="index.html">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="contact.html">Help</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Contact</h4>
                    <ul>
                        <li><span>+91-123-456789</span></li>
                        <li><span>+00-123-000000</span></li>
                    </ul>
                    <div class="social-icons">
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
                            <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p>Company Name © All rights Reseverd | Design by  <a href="http://w3layouts.com">W3Layouts</a> </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javascript")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
