@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Capstone</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/sb-admin")
    @Styles.Render("~/Content/morris")
    @Styles.Render("~/Content/fontawesome")

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home-Shoppe", "Index", "Home")
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @ViewBag.customerName <b class="caret"></b></a> 
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        @Html.ActionLink("DashBoard", "Index", "Customer", new { @class = "fa fa-fw fa-dashboard" })
                    </li>
                    <li>
                        @Html.ActionLink("Account", "Account", "Customer", new { @class = "fa fa-fw fa-archive" })
                    </li>
                    <li>
                        @Html.ActionLink("Address", "Address", "Customer", new { @class = "fa fa-fw fa-home" })
                    </li>
                    <li>
                        @Html.ActionLink("Signout", "SignOut", "Customer", new { @class = "fa fa-fw fa-sign-out" })
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        @*Rendering body here*@
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/morris")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>